{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Ecommerce</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h2>Django Ecommerce</h2>
        <nav>
            <a href="{% url 'home' %}"><small>Home</small></a> / 
            {% if user.is_authenticated %}
            <a href="{% url 'cart' %}"><small>My Cart</small></a> /
            <a href="{% url 'order' %}"><small>Orders</small></a> /
            <a href="{% url 'logout' %}"><small>Logout</small></a> 
            {% else %}
            <a href="{% url 'login' %}"><small>Login</small></a> / 
            <a href="{% url 'register' %}"><small>Register</small></a>
            {% endif %}
            
        </nav>
        <form method="get" action="{% url 'search' %}">
            <input type="text" name="query" id="query" placeholder="Search" value="{{ query }}">
            <small>Min Price:</small> 
            <select name="min_price">
                <option value="100" {% ifequal min_price 100  %}selected{% else %}{% endifequal %}>100 Rs</option>
                <option value="500" {% ifequal min_price 500  %}selected{% else %}{% endifequal %}>500 Rs</option>
                <option value="1000" {% ifequal min_price 1000  %}selected{% else %}{% endifequal %}>1000 Rs</option>
                <option value="2000" {% ifequal min_price 2000  %}selected{% else %}{% endifequal %}>2000 Rs</option>
                <option value="4000" {% ifequal min_price 4000  %}selected{% else %}{% endifequal %}>4000 Rs</option>
            </select>
            <small>Max Price:</small> 
            <select name="max_price">
                <option value="500" {% ifequal max_price 500  %}selected{% else %}{% endifequal %}>500 Rs</option>
                <option value="1000" {% ifequal max_price 1000  %}selected{% else %}{% endifequal %}>1000 Rs</option>
                <option value="2000" {% ifequal max_price 2000  %}selected{% else %}{% endifequal %}>2000 Rs</option>
                <option value="4000" {% ifequal max_price 4000  %}selected{% else %}{% endifequal %}>4000 Rs</option>
                <option value="8000" {% ifequal max_price 8000  %}selected{% else %}{% endifequal %}>8000 Rs</option>
            </select>
            <small>Sort By:</small> 
            <select name="sort_by">
                <option value='price-low-to-high' {% ifequal sort_by 'price-low-to-high'  %}selected{% else %}{% endifequal %}>Price low to high</option>
                <option value='price-high-to-low' {% ifequal sort_by 'price-high-to-low'  %}selected{% else %}{% endifequal %}>Price high to low</option>
            </select>
            <button type="submit">Search</button>
        </form>
    </header>
    {% if messages %}
        {% for message in messages %}
            <div class="row h-center flash-msg alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <main>
        {% block main %}

        {% endblock main %}
    </main>
</body>
</html>