{% extends 'base.html' %}

{% block main %}
<div class="row">

    {% if cart_items %}
    {% for cart in cart_items %}

    <div class="col product-item">
        <div class="img">
            <img src="{{ cart.product.image.url }}" alt="Product name">
        </div>
        <h4 class="mt-1">{{ cart.product.name|truncatechars:45 }}</h4><br>
        <small class="mt-1">Price <big><b>{{ cart.product.price }}</b></big> Rs</small>
        <small class="mt-1">Rating: <span>{{ cart.product.rating }}</span></small>
        <div class="row mt-1">
            <a href="" class="btn"><small>View</small></a>
            &nbsp;&nbsp;
            <a href="{{ cart.product.get_rem_cart_url }}?next=/cart/" class="btn"><small>Remove</small></a>
        </div>
    </div>

    {% endfor %}
    {% else %}
    <div class="row" style="padding: 1em; background: #f3f3f3">
        Your cart is empty.
    </div>
    {% endif %}
</div>
{% endblock main %}