{% extends 'base.html' %}

{% block main %}

<div class="row">
    <div class="col col-75">
        {% if not orders %}
            <div class="row mb-1">You have no pending orders.</div>
        {% endif %}
        {% for order in orders %}
        <div class="col booking-data mb-1">
            <strong><a href="{{ order.product.get_pdt_url }}">{{ order.product.name }}</a></strong>
            <small class="mt-05">Order id: {{ order.id }}</small>
            <small>Product id: {{ order.product.id }}</small>
            <small>Booked on : {{ order.ordered_on }}</small>
            <small>Quantities : 2</small>
            <small>Address: {{ order.location }}</small>
            <small>Price : {{ order.product.price }}/-</small>
            {% if order.is_placed %}
            <div class="row mt-05 v-center">
                <small>Order status: Placed</small>
            </div>
            {% else %}
            <div class="row mt-05 v-center">
                <small>Order status: Not-Placed</small> &nbsp;&nbsp;
                <a href="{{ order.get_del_url }}" class="btn"><small>Cancel order</small></a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock main %}