{% extends 'base.html' %}

{% block main %}

{% for i in "1,2,3,4,5,6,7,8,9,0,1,2,3,4" %}

<div class="inline">
    <div class="img">
        <img src="https://www.furniturerow.com/fr/images/products/SS-PKRNHB.JPG" alt="Product name">
    </div>
    <br>
    <small>Product name</small><br>
    <small>Price <b>500 Rs</b></small><br>
    <small>Rating: <b>4.3</b></small><br><br>
    <a href=""><small>View item</small></a>
    <a href=""><small>Add to Cart</small></a>
</div>

{% endfor %}

{% endblock main %}