{% extends 'base.html' %}

{% block main %}
<div class="row">
    {% for product_obj in products %}

    <div class="col product-item">
        <div class="img">
            <img src="{{ product_obj.product.image.url }}" alt="Product name">
        </div>
        <h4 class="mt-1">{{ product_obj.product.name|truncatechars:45 }}</h4><br>
        <small class="mt-1">Price <big><b>{{ product_obj.product.price }}</b></big> Rs</small>
        <small class="mt-1">Rating: <span>{{ product_obj.product.rating }}</span></small>
        <div class="row mt-1">
            <a href="" class="btn"><small>View</small></a>
            {% if user.is_authenticated %}
            &nbsp;&nbsp;
            {% if product_obj.in_cart %}
                <a href="{{ product_obj.product.get_rem_cart_url }}" class="btn"><small>Added to Cart</small></a>
            {% else %}
                <a href="{{ product_obj.product.get_add_cart_url }}" class="btn"><small>Add to Cart</small></a>
            {% endif %}
            {%endif%}
        </div>
    </div>

    {% endfor %}
</div>
{% endblock main %}