{% extends 'base.html' %}

{% block main %}

<div class="row h-center">
    <form method="POST" class="auth-form">
        <h3 class="row h-center">Sign Up</h3>
        <br>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            <label for="id_is_seller">{{ is_seller_form.is_seller.label }}</label>
            {{ is_seller_form.is_seller }}
        </div>
        <button class="btn">Sign Up</button><br><br>
        <small>Have an account <a href="{% url 'login' %}">Login</a></small>
    </form>
</div>

{% endblock main %}